@model IEnumerable<OCVM.Models.Education>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam_Degree_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group_Major_Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institute_University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CGPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year_Of_Passing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraningID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exam_Degree_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group_Major_Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institute_University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_Of_Passing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achievement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalDetail.PersonalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraningID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EduID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EduID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EduID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
