@model IEnumerable<OCVM.ViewModels.TrainingViewModels>
@{
 
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}
<div class="container">

    <div class="col-sm-6">
        <h2><i class="fa fa-laptop"></i> Training Information</h2>
    </div>

</div>
<hr />
<div>
    @foreach (var item in Model)
    {
        <ul class="list-group list-group-flush col-sm-10 col-lg-offset-2">
            <li class="list-group-item col-sm-4">Training Title</li>
            <li class="list-group-item col-sm-6">@item.Training_Title</li>
            <li class="list-group-item col-sm-4">Topics Covered</li>
            <li class="list-group-item col-sm-6">@item.Topics_Covered</li>
            <li class="list-group-item col-sm-4">Institute</li>
            <li class="list-group-item col-sm-6">@item.Institute</li>
            <li class="list-group-item col-sm-4">Country</li>
            <li class="list-group-item col-sm-6">@item.Country</li>
            <li class="list-group-item col-sm-4">Year</li>
            <li class="list-group-item col-sm-6">@item.Training_Year</li>
            <li class="list-group-item col-sm-4">Duration</li>
            <li class="list-group-item col-sm-6">@item.Duration</li>
            <li class="list-group-item col-sm-4">Location</li>
            <li class="list-group-item col-sm-6">@item.Location</li>

        </ul>

        <div class="btn btn-group col-lg-offset-2">
            <a asp-action="Index" class="btn btn-info">Back to List</a>
            <a asp-action="Update" class="btn btn-success" asp-route-id="@item.TrainingID">Edit Information</a>
        </div>
    }
</div>
<hr />